{
    "presets": [
        ["env", {
            "targets": {
                "node": "6.14"
            }
        }]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src", "./config"],
            "alias": {
                "test": "./test"
            }
        }],
        ["rewire"]
    ]
}
